page-league-legends {
    .background{
        background-color: lightgreen;
        text-align: center;  
        background-image: url('../assets/imgs/bg-1.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
          
    }
    .button1{
        margin-right: 100%;
    }

}
