page-champions-league {
    .background{
        background-color: rgb(60, 150, 235);
        text-align: center;
     
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .button1{
        margin-right: 100%;
    }
}
