page-league-legends2 {
    .background{
        background-color: rgb(136, 183, 223);
        text-align: center;  
        background-image: url('../assets/imgs/bg-4.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
          
    }
    .button1{
        margin-right: 100%;
    }

}
