page-league-legends3 {
    .background{
        background-color: rgb(188, 219, 76);
        text-align: center;  
        background-image: url('../assets/imgs/bg-3.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
          
    }
    .button1{
        margin-right: 100%;
    }

}
